.kitchen {
    display: flex;
    width: 95%;
}
.kitchen_items {
    width:80%;
}
.groclist_modal {
    width:20%
}

.cat_div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.cat_heading {
    text-align: left;
}

.cat_table {
    width: 95%;
    align-self: center;
}

.tbl_heading {
    width: 33%;
}

.tbl_box {
    border: 1px solid var(--accent-border);
    padding-top: 5px;
    padding-bottom: 5px;
}

.tbl_ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}