.recipe_card {
    display: flex;
    flex-flow: column;
    width: 30%;
    padding: 2.5%;
    color: var(--text);
    border-radius: 5px;
    border: 2px solid var(--accent-border);
    transition: border-color 0.3s;
    background-color: var(--accent-bg);
}